img{
    width: 200px;
    height: 200px;
   
}
#photo-template{
    display: none;
}
div{
    display: inline-block;
    width: 25%;
    text-align: center;

}
button{
    width: 100px;
    height: 30px;
}